<header>
	<img id="banner" src="../assets/images/Animal_Crossing_Logo.png">
</header>
<body>
	<div  class="container">
		{{render "app"}}
		<div>
			<div>{{outlet}}</div>
			 {{#if hintShowing}}
			<button {{action 'hideHint'}} class="cancel-button">X</button>
				{{partial 'guide'}}

			 {{/if}}
		</div>
		</div>
</body>
<footer>
	<div id="time"></div>
	<nav>
		<li>
			{{#link-to 'gen'}}
				<button class="col-xs-6 btn btn-default">Generations</button>
			{{/link-to}}
			</li>
		<li {{action 'showHint'}}>
			<button class="col-xs-6 btn btn-default">Help!!</button>
			</li>
	</nav>
	<p class="col-xs-12">&copy;2016 Lone-DO</p>
</footer>