<div class="container">
	<header>
		<nav class="navbar" role="navigation">
			<ul>
				<li>
					{{#link-to 'application'}}
						<button class="link-button">Start</button>
					{{/link-to}} 
				</li>
				<li>
					{{#link-to 'gen'}}
						<button class="link-button">Generations</button>
					{{/link-to}}
				</li>
				<li {{action 'showHint'}}>
					<button class="link-button">Help!!</button>
				</li>
			</ul>
		</nav>
	</header>
	<body>
		<div>{{render "app"}}</div>
		<div>
			<div>{{outlet}}</div>
          {{#if hintShowing}}
            {{partial 'guide'}}
            <button {{action 'hideHint'}}>X</button>
          {{/if}}
		</div>
	</body>
	<footer>
		<p>&copy;2016 Lone-DO</p>
	</footer>
</div>