{{#link-to 'gen'}}<button class="cancel-button">Back</button>{{/link-to}} 



<div class="letter">
	<h2>New Generation</h2>
	<form {{action 'saveAlbum' on='submit'}}>
	  <div class="form-group">
		  <ol>
			  <li>
				  <label for="labelName">Label Name:</label>
				  {{input valueBinding="labelName" class="post-field" id="labelName" placeholder="Name" required="required"}}
				  </li>
			  <li>
				  <label for="releaseDate">Release Date:</label>
				  {{view Ember.TextField valueBinding="releaseDate" class="post-field"  id="releaseDate" placeholder="Jan. 3, 1337" required="required"}}
				  </li>
			  <li>
				  <label for="platform">Platform:</label>
				  {{view Ember.TextField valueBinding="platform" class="post-field" placeholder="nintendo"  id="platform" required="required"}}
				  </li>
			  <li>
				  <label for="imageURL">Upload Image(URL):</label>
				  {{view Ember.TextField valueBinding="imageURL" class="post-field" id="imageURL" placeholder="http://..." required="required"}}
				  </li>
		  </ol>
	  </div>

		<div class="form-group">
			<h3 for="text">Insert Youtube ID's only</h3>
			<ul>
				<li>
					<label for="hourID">12am</label>
				  {{input valueBinding="hourID" class="post-field" id="hourID" placeholder="youtube/ID" required="required"}}
				  </li>
			</ul>
		</div>
		{{input id="save" class="btn btn-default" type="submit" value="Save!"}}
	</form>
</div>